.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;

    @media (max-width:760px) {
        gap: 0px;
        flex-direction: column;
    }
}

.imageContainer {
    flex: 1;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
}

.content {
    flex: 1;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.8s ease 0.3s, transform 0.8s ease 0.3s;
}

.title {
    font-size: 4rem;
    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: 100;
    letter-spacing: 0px;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
    /*font-family: 'Josefin sans', serif*/
}

.location {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    margin-top: 8px;
}

.ctaButton {
    padding: 10px 20px;
    font-size: 2rem;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #555;
}

.heroSection.visible .imageContainer,
.heroSection.visible .content {
    opacity: 1;
    transform: translateX(0);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .imageContainer {
        max-width: 300px;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .location {
        font-size: 1rem;
    }
}
